doctype html
html
  head
    title Add Post
    link(rel='stylesheet', type='text/css', href='style.css')
  body.whitebg
    .main
      .container
        // SHOULD BE 80% OF SCREEN WIDTH
        .navigation
          .logo
            a.pacificologo(href='index.html') The Avocado Net
          .links
            .menueitem
              a.linkcopy(href='profile.html') My profile
            .menueitem
              a.linkcopy(href='addpost.html') Add post
            .menueitem
              a.linkcopy(href='allpostings.html') All postings
            .menueitem
              a.linkcopy(href='') Logout
        // closing navigation
        // SHOULD BE 80% OF SCREEN WIDTH, CENTERED
        .intro Write a new post
        .postbox.gradientbg
          .postinner.newpost
            form.linebreak
              textarea#postinput.postinput(name='postinput', style='width:100%;height:60vh;')
              input.button(type='submit')
        // closing body div
      // closing container
    // closing main
