doctype html
html
	head
		title Add Post
		link(rel='stylesheet', type='text/css', href='css/style.css')
	body.whitebg
		.main
			.container
				// SHOULD BE 80% OF SCREEN WIDTH
				.navigation
					.logo
						a.pacificologo(href='/index') The Avocado Net
					.links
						.menueitem
							a.linkcopy(href='/myprofile') My profile
						.menueitem
							a.linkcopy(href='/addpost') Add post
						.menueitem
							a.linkcopy(href='/allpostings') All postings
						.menueitem
							a.linkcopy(href='') Logout
				// SHOULD BE 80% OF SCREEN WIDTH, CENTERED
				.intro Write a new post
				.postbox.gradientbg
					.postinner.newpost
						form.linebreak(action='/addpost', method='POST', autocomplete='off' id='form')
							textarea#postinput.postinput(style='width:100%;height:60vh;',name='posting')
							input.button(type='submit', name='submit')
