doctype html
html
	head
		title Home
		link(rel='stylesheet', type='text/css', href='/css/style.css')
	body.background
		.main
			.container
				// SHOULD BE 80% OF SCREEN WIDTH
				//
					<div class="navigation">
					<div class="logo">
					<a href="">The Avocado Net</a>
					</div>
					<div class="links">
					<a href="">My profile</a>
					<a href="">Add post</a>
					<a href="">All postings</a>
					<a href="">Logout</a>
					</div>
					</div>
				// closing navigation
				// SHOULD BE 33% OF SCREEN WIDTH, CENTERED
				.body
					.row
						.biglogo
							svg.avologo(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 342.44 406.08')
								defs
									style.
										.cls-1{fill:#c7b299;}.cls-2{fill:#c3f268;}.cls-3{font-size:84px;font-family:Pacifico, Pacifico;}
								title Asset 1
								g#Layer_2(data-name='Layer 2')
									g#Layer_2-2(data-name='Layer 2')
										path.cls-1(d='M67.76,356.06c1.29,6.5,8,10.79,14.6,11.47s13.12-1.46,19.41-3.56l49.14-16.43c9.31-3.11,18.89-6.38,26.27-12.85,12.53-11,16.16-30.62,9.1-45.72s-23.86-24.81-40.51-24.23a36.92,36.92,0,0,0-14,3.11c-12.36,5.62-19.6,18.49-25,30.93s-10.2,25.81-20.24,35c-3.27,3-7,5.41-10.17,8.52C72.55,346,67.76,356.06,67.76,356.06Z')
										path(d='M66.31,356.46C69,366.73,80,370.14,89.52,368.78c6.93-1,13.6-3.69,20.21-5.9l22.68-7.58c22.37-7.48,51.07-13,57.65-39.45,5.4-21.66-7.33-42.73-28-50.06-10.81-3.83-23.58-3.65-33.68,2.13-9.93,5.67-16.26,15.88-21,26-6.1,12.91-10.28,27.47-20.75,37.73C82.2,335.9,76.65,339,73,344a71.85,71.85,0,0,0-6.51,11.32c-.83,1.73,1.75,3.26,2.59,1.51,3.39-7.06,7.21-12.88,13.39-17.81a65.16,65.16,0,0,0,18.62-23.57c9.05-18.75,15.7-44.76,39.71-48.72,21.83-3.6,45,12.1,47.35,34.57,1.09,10.42-2,21.43-9,29.33-7.86,8.87-19.66,12.47-30.53,16.11L107,360.62c-11,3.67-33.4,12.19-37.83-5A1.5,1.5,0,0,0,66.31,356.46Z')
										path.cls-2(d='M196.66,50.19c-6.63.07-12.08,5.88-14,12.24s-1,13.16-.07,19.73l7.1,51.32c1.35,9.73,2.79,19.74,7.79,28.19C206,176,224.64,183.2,240.78,179s28.78-18.88,31.27-35.36a36.92,36.92,0,0,0-.48-14.32c-3.25-13.18-14.56-22.67-25.8-30.29s-23.49-14.78-30.63-26.34c-2.32-3.76-4-7.9-6.5-11.56C205.66,56.76,196.66,50.19,196.66,50.19Z')
										path(d='M196.66,48.69c-11.17.8-16.41,11.62-16.55,21.72-.09,6.69,1.25,13.44,2.16,20l3.41,24.68c1.94,14,2.46,29.56,8.2,42.69a39.49,39.49,0,0,0,22,20.92c20.49,8,42.93-1.63,53-20.82,5.29-10.07,7-22.47,2.77-33.22-4.05-10.3-12.61-18-21.38-24.32C238.39,91.79,224.39,84.83,216.44,72c-3.19-5.16-5.29-10.87-9.65-15.23a80.36,80.36,0,0,0-9.38-7.85c-1.56-1.14-3.06,1.46-1.51,2.59a49.62,49.62,0,0,1,15.52,17.66c4.69,8.82,11.24,15.52,19.25,21.43,16.68,12.31,40.79,23.52,40.35,47.72-.4,21.65-19.2,41.27-41.23,40.39a39,39,0,0,1-26.65-12c-8.08-8.63-10.13-20.58-11.73-31.86-2-14.38-4-28.78-6-43.17-1.62-11.7-7.68-38.58,11.22-39.94C198.57,51.56,198.58,48.55,196.66,48.69Z')
										ellipse(cx='231.81', cy='138.37', rx='20.5', ry='24.66', transform='translate(-36.2 105.96) rotate(-23.94)')
										path(d='M224.44,48.95a42.83,42.83,0,0,1,20.84-31.05c3.33-1.95.32-7.13-3-5.18a48.44,48.44,0,0,0-23.59,34.64c-.56,3.78,5.22,5.41,5.79,1.6Z')
										path(d='M192.41,33.38A222.07,222.07,0,0,1,178.78,2.06C177.53-1.57,171.73,0,173,3.66a232.37,232.37,0,0,0,14.23,32.76c1.81,3.41,7,.39,5.18-3Z')
										path(d='M169.88,58.48a50,50,0,0,1-35.05-10.33c-3.06-2.35-6.06,2.86-3,5.18a55,55,0,0,0,38.08,11.15c3.82-.32,3.85-6.32,0-6Z')
										path(d='M69.06,321.88c-6.15,1-13.8-5.92-18.24-9.46A104.86,104.86,0,0,1,38,300.11c-2.57-2.89-6.8,1.37-4.24,4.24a108.32,108.32,0,0,0,17.52,15.87c5.82,4.21,11.93,8.61,19.41,7.45,3.8-.59,2.19-6.37-1.6-5.79Z')
										path(d='M46.55,356.79c-14-1.34-29.46,2.83-42.1-4.94-3.3-2-6.32,3.16-3,5.18,13.78,8.47,29.94,4.3,45.13,5.76,3.84.37,3.82-5.63,0-6Z')
										path(d='M79.17,381.95a40.88,40.88,0,0,1-21.6,18.16c-3.6,1.3-2,7.1,1.6,5.79A47.32,47.32,0,0,0,84.35,385c1.94-3.35-3.24-6.37-5.18-3Z')
										text.cls-3(transform='translate(21.32 163.29)') The
										text.cls-3(transform='translate(44.32 243.29)') Avocado
										text.cls-3(transform='translate(204.32 323.29)') Net
										ellipse(cx='147.95', cy='305.27', rx='24.66', ry='20.5', transform='translate(-147.04 137.76) rotate(-34.55)')
					.row
						.login
							.pink=message
							form#signin(action='/', method='POST', autocomplete='off')
								p
									label(for='username') Your Name
									br
									input#name(type='text', name='username')
									br
								p
									label(for='password') Your Password
									br
									input#password(type='password', name='password')
									br
								input.button(type="submit", name="login")
							p
								| No account yet? 
								a(href='/signup') Sign up.
