doctype html
html
	head
		title Profile
		link(rel='stylesheet', type='text/css', href='/css/style.css')
	body.whitebg
		.main
			.container
				// SHOULD BE 80% OF SCREEN WIDTH
				.navigation
					.logo
						a.pacificologo(href='/myprofile') The Avocado Net
					.links
						.menueitem
							a.linkcopy(href='/myprofile') My profile
						.menueitem
							a.linkcopy(href='/addpost') Add post
						.menueitem
							a.linkcopy(href='/allpostings') All postings
						.menueitem
							a.linkcopy(href='/logout') Logout
				// closing navigation
				// SHOULD BE 80% OF SCREEN WIDTH, CENTERED
				.intro All postings by #{username}
				.postbox.greenborder
					.postinner
						p.onepost
						each hit in posts
							p.post=hit.post
							p.metadata
								a(href=`/posts/${hit.id}`) Created on #{hit.createdAt}
							p