doctype html
html
	head
		title Profile
		link(rel='stylesheet', type='text/css', href='css/style.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body.whitebg
		.container
			// SHOULD BE 80% OF SCREEN WIDTH
			.navigation
				.links
					.logo
						a.pacificologo(href='/myprofile') The Avocado Net
					.menueitem
						a.linkcopy(href='/myprofile') My profile
					.menueitem
						a.linkcopy(href='/addpost') Add post
					.menueitem
						a.linkcopy(href='/allpostings') All postings
					.menueitem
						a.linkcopy(href='/logout') Logout
			// SHOULD BE 80% OF SCREEN WIDTH, CENTERED
			.intro #{username} Profile
			.postbox
				.postinner.greenborder
					p.onepost
					each hit in posts
						p.post "#{hit.post}"
						p.metadata
							a(href=`/posts/${hit.id}`) Posted on #{hit.createdAt}
						p