doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
		include navigation.pug
		include references.pug
		title Sign Up
	body#bootstrap-overrides
		header.intro-header(style="background-image: url('/img/avocadobg2-green.png')")
			.container
				.row
					.col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
						.site-heading
							h1 Sign up for our network
							hr.small
							form.col.s12(action='/signup', method='POST', autocomplete='off' id='form')
								label(for='username') Choose a username
								br
								br
								input#name.validate(type='text', name='username')
								br
								br
								label(for='password') Choose a password
								br
								input#password.validate(type='password', name='password')
								br
								br
								button.btn.btn-default#signup(type="submit", name="submit") CREATE NEW ACCOUNT
	include references_footer.pug